@model App.DTO.Public.v1.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestFirstName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Model.StartDate.ToString("yyyy-MM-dd")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Model.EndDate.ToString("yyyy-MM-dd")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCancelled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCancelled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
